<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcake API</title>
</head>
<body>
  <ul class="cupcake-list">
  </ul>
  <form action="/api/cupcakes" method="post">
    <label for="flavor">flavor:</label> 
    <input type="text" name="flavor">
    <label for="size">size:</label> 
    <input type="text" name="size">
    <label for="rating">rating:</label>
    <input type="text" name="rating">
    <label for="image">image:</label>
    <input type="text" name="image"> 
    <button>Submit</button>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="static/cupcakes.js"></script>
</body>
</html>