<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cupcake API</title>
</head>
<body>
  <ul class="cupcake-list">
  </ul>
  <form action="/api/cupcakes" method="post">

    <div>
      <label for="flavor">flavor:</label> 
      <input type="text" id="flavor">
    </div>

    <div>
      <label for="size">size:</label> 
      <input type="text" id="size">
    </div>

    <div>
      <label for="rating">rating:</label>
      <input type="text" id="rating">
    </div>

    <div>
      <label for="image">image:</label>
      <input type="text" id="image">
    </div>
    
    <button>Submit</button>
  </form>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="static/cupcakes.js"></script>
</body>
</html>